@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-3">UNO GAME</h1>
</div>
<div class="d-flex gap-5 justify-content-center m-3">
    <div class="card border-0">
        <img src="images/add.png" class="icon card-img-top align-self-center" alt="new-game img">
        <div class="card-body align-self-center">
            <a asp-area="" asp-page="/Players/Index" class="btn btn-outline-primary">New Game</a>
        </div>
    </div>
    <div class="card border-0">
        <img src="images/gamepad.png" class="icon card-img-top align-self-center" alt="new-game img">
        <div class="card-body align-self-center">
            <a asp-area="" asp-page="/Games/Index" class="btn btn-outline-primary">Games</a>
        </div>
    </div>
</div>