@page
@using Domain
@model WebApp.Pages_Games.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Game</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-group mb-3 mt-3">
                <label asp-for="Game.GameName" class="me-3 bg-white align-self-center">Game name</label>
                <input asp-for="Game.GameName" type="text" class="form-control rounded">
            </div>
            <span asp-validation-for="Game.GameName" class="text-danger"></span>
            <div class="btn-group-toggle" data-toggle="buttons">
                <label asp-for="ShuffleIncluded" class="btn btn-secondary">
                    <input asp-for="ShuffleIncluded" type="checkbox" checked="@Model.ShuffleIncluded"> Include "Shuffle Card"
                </label>
            </div>
            @for (int i = 0; i < Model.Game.Players!.Count; i++)
            {
            <div class="input-group d-flex mb-3 mt-3 gap-2">
                <label asp-for="Players[i].Nickname" class="control-label me-3 bg-white align-self-center">Player @(i + 1)</label>
                <input asp-for="Players[i].Nickname" placeholder="Nickname" type="text" class="form-control rounded"/>
                <select asp-for="Players[i].PlayerType" class="form-control rounded">
                    @foreach (var playerType in Enum.GetValues(typeof(PlayerType)).Cast<PlayerType>())
                    {
                        <option value="@playerType">@playerType</option>
                    }
                </select>
                <input type="hidden" asp-for="Players[i].Id"/>
                <input type="hidden" asp-for="Players[i].Game"/>
                <input type="hidden" asp-for="Players[i].GameId"/>
            </div>
            }
            <input type="hidden" asp-for="Game.Id"/>
            <input type="hidden" asp-for="Game.State"/>
            <input type="hidden" asp-for="Game.CreatedAtDt"/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-area="" asp-page="./Index" class="btn btn-outline-secondary mt-3">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
