@page
@model WebApp.Pages_Games.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Game.CreatedAtDt" class="control-label mb-1"></label>
                <input asp-for="Game.CreatedAtDt" class="form-control" />
                <span asp-validation-for="Game.CreatedAtDt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.UpdatedAtDt" class="control-label mb-1 mt-2"></label>
                <input asp-for="Game.UpdatedAtDt" class="form-control" />
                <span asp-validation-for="Game.UpdatedAtDt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.State" class="control-label mb-1 mt-2"></label>
                <input asp-for="Game.State" class="form-control" />
                <span asp-validation-for="Game.State" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Game.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-area="" asp-page="./Index" class="btn btn-outline-secondary mt-3">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
