@page
@using Domain
@model WebApp.Pages_Players.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Player</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Player.NickName" class="control-label mb-1"></label>
                <input asp-for="Player.NickName" class="form-control"/>
                <span asp-validation-for="Player.NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.PlayerType" class="control-label mb-1 mt-2"></label>
                <select asp-for="Player.PlayerType" class="form-control">
                    @foreach (var playerType in Enum.GetValues(typeof(PlayerType)).Cast<PlayerType>())
                    {
                        <option value="@playerType">@playerType</option>
                    }
                </select>
                <span asp-validation-for="Player.PlayerType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player.GameId" class="control-label mb-1 mt-2"></label>
                <select asp-for="Player.GameId" class="form-control" asp-items="@((SelectList)ViewData["GameId"]!)"></select>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-area="" asp-page="Index" class="btn btn-outline-secondary mt-3">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
